* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
    color: #fafafa;
    background-image: linear-gradient(red , blue);
    
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    max-width: 400px;
    padding: 2rem;
    background-color: #1726f8;
    border-radius: 5px;
}

#table-login h3 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.login , .password {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.login label , .password label {
    padding-bottom: 0.5rem;
}

#table-login input {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
}

#links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.esqueceu-senha , .novo-cadastro {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.esqueceu-senha a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.novo-cadastro a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

.enter-btn {
    background-color: red;
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    color: #fafafa;
    text-transform: uppercase;
}


footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fafafa;
}

